@font-face {
  font-family: "iconfont"; /* Project id 4927838 */
  src: url('iconfont.woff2?t=1747815024612') format('woff2'),
       url('iconfont.woff?t=1747815024612') format('woff'),
       url('iconfont.ttf?t=1747815024612') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quoteleft:before {
  content: "\e627";
}

.icon-quoteright:before {
  content: "\e628";
}

.icon-icon_caidan:before {
  content: "\e642";
}

.icon-attention_light:before {
  content: "\e7f4";
}

.icon-time:before {
  content: "\e619";
}

.icon-icon_mark:before {
  content: "\e607";
}

.icon-icon_file:before {
  content: "\e699";
}

