.picture-upload .ant-upload {
    width: 100% !important;
    height: 100% !important;
    min-height: 152px;
    min-width: 152px;
  }
  
  /* 针对图片最大显示限制 */
  .picture-upload img {
    max-width: 100%;
    max-height: 480px;
  }
  
  /* 上传区域图标样式 */
  .picture-upload .ant-upload-select-picture-card i {
    font-size: 32px;
    color: #999;
  }
  
  /* 上传区域文字样式 */
  .picture-upload .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #666;
  }
  