.myMasonryGrid {
    display: -webkit-box;
    /* Not needed if autoprefixing */
    display: -ms-flexbox;
  }
  ​
  .myMasonryGridColumn {
    padding-left: 1rem;
    /* gutter size */
    background-clip: padding-box;
  }
  ​
  /* Style your items */
  .myMasonryGridColumn>img {
    /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 1rem;
    display: block;
    width: 100%;
  }